In [8]:
import pandas as pd 
import geopandas as gpd
import sqlite3

In [9]:
def read_file(path):
    return gpd.read_file(path)
geodata = read_file('county_ca.geojson')

In [10]:
Alamedadf =pd.read_csv('Data/AlmedaMIDPoint.csv')
Alpinedf =pd.read_csv('Data/AlpineMIDPoint.csv')
Humboldtdf =pd.read_csv('Data/HumboltMIDPoint.csv')
Lakedf =pd.read_csv('Data/LakeMIDPoint.csv')
LosAngelesdf =pd.read_csv('Data/LosAngelesMIDPoint.csv')
Nevadadf =pd.read_csv('Data/NevadaMIDPoint.csv')
SanMateodf =pd.read_csv('Data/SanMateoMIDPoint.csv')
SantaClaradf =pd.read_csv('Data/SantaClaraMIDPoint.csv')
Yubadf =pd.read_csv('Data/YubaMIDPoint.csv')
Mendocinodf =pd.read_csv('Data/MendocinoMIDPoint.csv')
Monodf =pd.read_csv('Data/MonoMIDPoint.csv')
Riversidedf =pd.read_csv('Data/RiversideMIDPoint.csv')
SanBenitodf =pd.read_csv('Data/SanBenitoMIDPoint.csv')
SanLuisObispodf =pd.read_csv('Data/SanLuisObisboMIDPoint.csv')
SantaBarbaradf =pd.read_csv('Data/SantaBarbaraMIDPoint.csv')
Sutterdf =pd.read_csv('Data/SutterMIDPoint.csv')
Tularedf =pd.read_csv('Data/TulareMIDPoint.csv')
Buttedf =pd.read_csv('Data/ButteMIDPoint.csv')
Solanodf =pd.read_csv('Data/SolanoMIDPoint.csv')
Calaverasdf =pd.read_csv('Data/CalaverasMIDPoint.csv')
Colusadf =pd.read_csv('Data/ColusaMIDPoint.csv')
Montereydf =pd.read_csv('Data/MontereyMIDPoint.csv')
Stanislausdf =pd.read_csv('Data/StanislausMIDPoint.csv')
SanBernardinodf =pd.read_csv('Data/SanBernardinoMIDPoint.csv')
DelNortedf =pd.read_csv('Data/DelNorteMIDPoint.csv')
Plumasdf =pd.read_csv('Data/PlumasMIDPoint.csv')
Shastadf =pd.read_csv('Data/ShastaMIDPoint.csv')
Siskiyoudf =pd.read_csv('Data/SiskiyouMIDPoint.csv')
Marindf =pd.read_csv('Data/MarinMIDPoint.csv')
SanJoaquindf =pd.read_csv('Data/SanJoaquinMIDPoint.csv')
ContraCostadf =pd.read_csv('Data/ContraCostaMIDPoint.csv')
Glenndf =pd.read_csv('Data/GlennMIDPoint.csv')
Imperialdf =pd.read_csv('Data/ImperialMIDPoint.csv')
Placerdf =pd.read_csv('Data/PlacerMIDPoint.csv')
Kingsdf =pd.read_csv('Data/KingsMIDPoint.csv')
Lassendf =pd.read_csv('Data/LassenMIDPoint.csv')
Tuolumnedf =pd.read_csv('Data/TuolumneMIDPoint.csv')
SanFranciscodf =pd.read_csv('Data/SanFranciscoMIDPoint.csv')
Fresnodf =pd.read_csv('Data/FresnoMIDPoint.csv')
Modocdf =pd.read_csv('Data/ModocMIDPoint.csv')
SantaCruzdf =pd.read_csv('Data/SantaCruzMIDPoint.csv')
Tehamadf =pd.read_csv('Data/TehamaMIDPoint.csv')
Venturadf =pd.read_csv('Data/VenturaMIDPoint.csv')
SanDiegodf =pd.read_csv('Data/SanDiegoMIDPoint.csv')
Kerndf =pd.read_csv('Data/KernMIDPoint.csv')
ElDoradodf =pd.read_csv('Data/ElDoradoMIDPoint.csv')
Sierradf =pd.read_csv('Data/SierraMIDPoint.csv')
Orangedf =pd.read_csv('Data/OrangeMIDPoint.csv')
Yolodf =pd.read_csv('Data/YoloMIDPoint.csv')
Trinitydf =pd.read_csv('Data/TrinityMIDPoint.csv')
Maderadf =pd.read_csv('Data/MaderaMIDPoint.csv')
Inyodf =pd.read_csv('Data/InyoMIDPoint.csv')
Amadordf =pd.read_csv('Data/AmadorMIDPoint.csv')
Sacramentodf =pd.read_csv('Data/SacramentoMIDPoint.csv')
Napadf =pd.read_csv('Data/NapaMIDPoint.csv')
Sonomadf =pd.read_csv('Data/SonomaMIDPoint.csv')
Mariposadf =pd.read_csv('Data/MariposaMIDPoint.csv')
Merceddf = pd.read_csv('Data/MercedMIDPoint.csv')

In [11]:
Alamedadf['Name'] = 'Alameda'
Alpinedf['Name'] = 'Alpine'
Humboldtdf['Name'] = 'Humboldt'
Lakedf['Name'] = 'Lake'
LosAngelesdf['Name'] = 'Los Angeles'
Nevadadf['Name'] = 'Nevada'
SanMateodf['Name'] = 'San Mateo'
SantaClaradf['Name'] = 'Santa Clara'
Yubadf['Name'] = 'Yuba'
Mendocinodf['Name'] = 'Mendocino'
Monodf['Name'] = 'Mono'
Riversidedf['Name'] = 'Riverside'
SanBenitodf['Name'] = 'San Benito'
SanLuisObispodf['Name'] = 'San Luis Obispo'
SantaBarbaradf['Name'] = 'Santa Barbara'
Sutterdf['Name'] = 'Sutter'
Tularedf['Name'] = 'Tulare'
Buttedf['Name'] = 'Butte'
Solanodf['Name'] = 'Solano'
Calaverasdf['Name'] = 'Calaveras'
Colusadf['Name'] = 'Colusa'
Montereydf['Name'] = 'Monterey'
Stanislausdf['Name'] = 'Stanislaus'
SanBernardinodf['Name'] = 'San Bernardino'
DelNortedf['Name'] = 'Del Norte'
Plumasdf['Name'] = 'Plumas'
Shastadf['Name'] = 'Shasta'
Siskiyoudf['Name'] = 'Siskiyou'
Marindf['Name'] = 'Marin'
SanJoaquindf['Name'] = 'San Joaquin'
ContraCostadf['Name'] = 'Contra Costa'
Glenndf['Name'] = 'Glenn'
Imperialdf['Name'] = 'Imperial'
Placerdf['Name'] = 'Placer'
Kingsdf['Name'] = 'Kings'
Lassendf['Name'] = 'Lassen'
Tuolumnedf['Name'] = 'Tuolumne'
SanFranciscodf['Name'] = 'San Francisco'
Fresnodf['Name'] = 'Fresno'
Modocdf['Name'] = 'Modoc'
SantaCruzdf['Name'] = 'Santa Cruz'
Tehamadf['Name'] = 'Tehama'
Venturadf['Name'] = 'Ventura'
SanDiegodf['Name'] = 'San Diego'
Kerndf['Name'] = 'Kern'
ElDoradodf['Name'] = 'El Dorado'
Sierradf['Name'] = 'Sierra'
Orangedf['Name'] = 'Orange'
Yolodf['Name'] = 'Yolo'
Trinitydf['Name'] = 'Trinity'
Maderadf['Name'] = 'Madera'
Inyodf['Name'] = 'Inyo'
Amadordf['Name'] = 'Amador'
Sacramentodf['Name'] = 'Sacramento'
Napadf['Name'] = 'Napa'
Sonomadf['Name'] = 'Sonoma'
Mariposadf['Name'] = 'Mariposa'
Merceddf['Name'] = 'Merced'

Alamedadf = Alamedadf.loc[:,'YEAR':'Name']
Alpinedf = Alpinedf.loc[:,'YEAR':'Name']
Humboldtdf = Humboldtdf.loc[:,'YEAR':'Name']
Lakedf = Lakedf.loc[:,'YEAR':'Name']
LosAngelesdf = LosAngelesdf.loc[:,'YEAR':'Name']
Nevadadf = Nevadadf.loc[:,'YEAR':'Name']
SanMateodf = SanMateodf.loc[:,'YEAR':'Name']
Santadf = Claradf = SantaClaradf.loc[:,'YEAR':'Name']
Yubadf = Yubadf.loc[:,'YEAR':'Name']
Mendocinodf = Mendocinodf.loc[:,'YEAR':'Name']
Monodf = Monodf.loc[:,'YEAR':'Name']
Riversidedf = Riversidedf.loc[:,'YEAR':'Name']
SanBenitodf = SanBenitodf.loc[:,'YEAR':'Name']
SanLuisObispodf = SanLuisObispodf.loc[:,'YEAR':'Name']
SantaBarbaradf = SantaBarbaradf.loc[:,'YEAR':'Name']
Sutterdf = Sutterdf.loc[:,'YEAR':'Name']
Tularedf = Tularedf.loc[:,'YEAR':'Name']
Buttedf = Buttedf.loc[:,'YEAR':'Name']
Solanodf = Solanodf.loc[:,'YEAR':'Name']
Calaverasdf = Calaverasdf.loc[:,'YEAR':'Name']
Colusadf = Colusadf.loc[:,'YEAR':'Name']
Montereydf = Montereydf.loc[:,'YEAR':'Name']
Stanislausdf = Stanislausdf.loc[:,'YEAR':'Name']
SanBernardinodf = SanBernardinodf.loc[:,'YEAR':'Name']
DelNortedf = DelNortedf.loc[:,'YEAR':'Name']
Plumasdf = Plumasdf.loc[:,'YEAR':'Name']
Shastadf = Shastadf.loc[:,'YEAR':'Name']
Siskiyoudf = Siskiyoudf.loc[:,'YEAR':'Name']
Marindf = Marindf.loc[:,'YEAR':'Name']
SanJoaquindf = SanJoaquindf.loc[:,'YEAR':'Name']
ContraCostadf = ContraCostadf.loc[:,'YEAR':'Name']
Glenndf = Glenndf.loc[:,'YEAR':'Name']
Imperialdf = Imperialdf.loc[:,'YEAR':'Name']
Placerdf = Placerdf.loc[:,'YEAR':'Name']
Kingsdf = Kingsdf.loc[:,'YEAR':'Name']
Lassendf = Lassendf.loc[:,'YEAR':'Name']
Tuolumnedf = Tuolumnedf.loc[:,'YEAR':'Name']
SanFranciscodf = SanFranciscodf.loc[:,'YEAR':'Name']
Fresnodf = Fresnodf.loc[:,'YEAR':'Name']
Modocdf = Modocdf.loc[:,'YEAR':'Name']
SantaCruzdf = SantaCruzdf.loc[:,'YEAR':'Name']
Tehamadf = Tehamadf.loc[:,'YEAR':'Name']
Venturadf = Venturadf.loc[:,'YEAR':'Name']
SanDiegodf = SanDiegodf.loc[:,'YEAR':'Name']
Kerndf = Kerndf.loc[:,'YEAR':'Name']
ElDoradodf = ElDoradodf.loc[:,'YEAR':'Name']
Sierradf = Sierradf.loc[:,'YEAR':'Name']
Orangedf = Orangedf.loc[:,'YEAR':'Name']
Yolodf = Yolodf.loc[:,'YEAR':'Name']
Trinitydf = Trinitydf.loc[:,'YEAR':'Name']
Maderadf = Maderadf.loc[:,'YEAR':'Name']
Inyodf = Inyodf.loc[:,'YEAR':'Name']
Amadordf = Amadordf.loc[:,'YEAR':'Name']
Sacramentodf = Sacramentodf.loc[:,'YEAR':'Name']
Napadf = Napadf.loc[:,'YEAR':'Name']
Sonomadf = Sonomadf.loc[:,'YEAR':'Name']
Mariposadf = Mariposadf.loc[:,'YEAR':'Name']
Merceddf = Merceddf.loc[:,'YEAR':'Name']


counties = [Alamedadf,Alpinedf,
Humboldtdf,
Lakedf,
LosAngelesdf,
Nevadadf,
SanMateodf,
SantaClaradf,
Yubadf,
Mendocinodf,
Monodf,
Riversidedf,
SanBenitodf,
SanLuisObispodf,
SantaBarbaradf,
Sutterdf,
Tularedf,
Buttedf,
Solanodf,
Calaverasdf,
Colusadf,
Montereydf,
Stanislausdf,
SanBernardinodf,
DelNortedf,
Plumasdf,
Shastadf,
Siskiyoudf,
Marindf,
SanJoaquindf,
ContraCostadf,
Glenndf,
Imperialdf,
Placerdf,
Kingsdf,
Lassendf,
Tuolumnedf,
SanFranciscodf,
Fresnodf,
Modocdf,
SantaCruzdf,
Tehamadf,
Venturadf,
SanDiegodf,
Kerndf,
ElDoradodf,
Sierradf,
Orangedf,
Yolodf,
Trinitydf,
Maderadf,
Inyodf,
Amadordf,
Sacramentodf,
Napadf,
Sonomadf,
Mariposadf,
Merceddf]

data = pd.concat(counties)
data = data.loc[:, 'YEAR':'Name']

In [12]:
countydf = geodata.merge(data,left_on ='NAME', right_on = 'Name', how ='outer')
countydf = countydf[['COUNTYFP', 'Name']]

countydf = countydf.drop_duplicates(subset = ["COUNTYFP", "Name"],keep='first')
countydf = countydf.dropna()

In [13]:
finaldf = data.merge(countydf, left_on = 'Name', right_on = 'Name', how= 'outer')
finaldf = finaldf[['YEAR','JAN','FEB', 'MAR', 'APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC','ANN','COUNTYFP']]

In [15]:
conn = sqlite3.connect('soil_database')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS counties (countyfp number, Name text)')
conn.commit()

c.execute('CREATE TABLE IF NOT EXISTS soil_wetness (YEAR number, JAN number, FEB number, MAR number, APR number, MAY number, JUN number, JUL number, AUG number, SEP number, OCT number, NOV number, DEC number, ANN number,CountyFP number)')
conn.commit()

finaldf.to_sql('soil_wetness', conn, if_exists='replace', index = False)

countydf.to_sql('counties', conn, if_exists='replace', index = False)

58

In [26]:
c.execute('''  
select *
from counties c
inner join soil_wetness s on c.countyfp = s.CountyFP
''')


wetness = pd.DataFrame(c.fetchall(),columns=['county_fips_id','Name','YEAR','January','February', 'March', 'April','May','June','July','August','September','October','November','December','Annual Average','CountyFP'])
wetness

,county_fips_id,Name,YEAR,January,February,March,April,May,June,July,August,September,October,November,December,Annual Average,CountyFP
0,001,Alameda,2011,0.80,0.80,0.86,0.84,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58,001
1,001,Alameda,2012,0.51,0.55,0.62,0.69,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45,001
2,001,Alameda,2013,0.82,0.77,0.69,0.57,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42,001
3,001,Alameda,2014,0.46,0.53,0.60,0.57,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41,001
4,001,Alameda,2015,0.83,0.82,0.73,0.59,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47,001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,047,Merced,2017,0.73,0.84,0.80,0.65,0.46,0.27,0.10,0.09,0.12,0.16,0.33,0.39,0.41,047
634,047,Merced,2018,0.46,0.45,0.53,0.51,0.38,0.18,0.11,0.09,0.09,0.14,0.23,0.52,0.30,047
635,047,Merced,2019,0.59,0.74,0.73,0.57,0.46,0.32,0.12,0.09,0.09,0.09,0.13,0.55,0.37,047
636,047,Merced,2020,0.55,0.51,0.49,0.49,0.38,0.17,0.09,0.09,0.08,0.08,0.27,0.38,0.30,047
637,047,Merced,2021,0.45,0.56,0.52,0.43,0.24,0.12,0.09,0.08,0.08,0.23,0.44,0.51,0.31,047

In [27]:
finaldf = wetness

geodata = gpd.read_file('county_ca.geojson')
combineddf = geodata.merge(finaldf,left_on ='NAME', right_on = 'Name', how ='outer')

In [28]:
combineddf

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,rmapshaperid,...,May,June,July,August,September,October,November,December,Annual Average,CountyFP
0,06,001,01675839,0500000US06001,06001,Alameda,06,1914240928,212981785,0,...,0.70,0.58,0.48,0.29,0.17,0.44,0.48,0.48,0.58,001
1,06,001,01675839,0500000US06001,06001,Alameda,06,1914240928,212981785,0,...,0.53,0.42,0.23,0.16,0.13,0.24,0.50,0.76,0.45,001
2,06,001,01675839,0500000US06001,06001,Alameda,06,1914240928,212981785,0,...,0.46,0.26,0.17,0.15,0.22,0.23,0.30,0.48,0.42,001
3,06,001,01675839,0500000US06001,06001,Alameda,06,1914240928,212981785,0,...,0.48,0.27,0.17,0.14,0.20,0.27,0.48,0.79,0.41,001
4,06,001,01675839,0500000US06001,06001,Alameda,06,1914240928,212981785,0,...,0.50,0.41,0.21,0.16,0.14,0.20,0.49,0.59,0.47,001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,06,047,00277288,0500000US06047,06047,Merced,06,5011540709,112771056,57,...,0.46,0.27,0.10,0.09,0.12,0.16,0.33,0.39,0.41,047
634,06,047,00277288,0500000US06047,06047,Merced,06,5011540709,112771056,57,...,0.38,0.18,0.11,0.09,0.09,0.14,0.23,0.52,0.30,047
635,06,047,00277288,0500000US06047,06047,Merced,06,5011540709,112771056,57,...,0.46,0.32,0.12,0.09,0.09,0.09,0.13,0.55,0.37,047
636,06,047,00277288,0500000US06047,06047,Merced,06,5011540709,112771056,57,...,0.38,0.17,0.09,0.09,0.08,0.08,0.27,0.38,0.30,047
637,06,047,00277288,0500000US06047,06047,Merced,06,5011540709,112771056,57,...,0.24,0.12,0.09,0.08,0.08,0.23,0.44,0.51,0.31,047

In [29]:
 df =combineddf[['county_fips_id', 'Name','YEAR','Annual Average','geometry' ]]

In [30]:
df

,county_fips_id,Name,YEAR,Annual Average,geometry
0,001,Alameda,2011,0.58,"POLYGON ((-122.31520 37.89680, -122.27110 37.9..."
1,001,Alameda,2012,0.45,"POLYGON ((-122.31520 37.89680, -122.27110 37.9..."
2,001,Alameda,2013,0.42,"POLYGON ((-122.31520 37.89680, -122.27110 37.9..."
3,001,Alameda,2014,0.41,"POLYGON ((-122.31520 37.89680, -122.27110 37.9..."
4,001,Alameda,2015,0.47,"POLYGON ((-122.31520 37.89680, -122.27110 37.9..."
...,...,...,...,...,...
633,047,Merced,2017,0.41,"POLYGON ((-121.22680 37.13480, -120.96420 37.3..."
634,047,Merced,2018,0.30,"POLYGON ((-121.22680 37.13480, -120.96420 37.3..."
635,047,Merced,2019,0.37,"POLYGON ((-121.22680 37.13480, -120.96420 37.3..."
636,047,Merced,2020,0.30,"POLYGON ((-121.22680 37.13480, -120.96420 37.3..."
637,047,Merced,2021,0.31,"POLYGON ((-121.22680 37.13480, -120.96420 37.3..."